body
{
  	font-family:serif;
  	margin:0;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('../images/pencil.jpg');
	background-size:cover;
}

.login_title /*type of user login popup*/
{
	color:black;
	text-align:center;
	padding:15px;
}

.login /*to put the buttons in center*/
{
	margin:50px auto 15px auto;
	text-align:center;
	box-shadow: 0px 6px 12px rgb(122, 122, 122);
	padding:20px;
	border-radius:10px;
	background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
	background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

input[type=text], input[type=password] /* Full-width input fields */
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button /* Set a style for all buttons */
{
	font-family:serif;
	background-color:rgb(28,48,93);
	border-radius:10px;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: 0px;
	cursor: pointer;
	width: 100%;
  	font-size:12pt;

}

button:hover
{
	background-color:rgba(4,9,30,0.7);
}


.cancelbtn /* Extra styles for the cancel button */
{
	width: auto;
	padding: 10px 18px;
	background-color: red;
}

.container
{
	padding: 16px;
}

span.psw
{
  float: right;
  padding-top: 16px;
}

.modal /* The Modal (background) */
{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	/*background-color: rgb(0,0,0); /* Fallback color */
	/*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
	background-color:rgba(0, 0, 0, 0.5);
}

.modal-content /* Modal Content/Box */
{
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 40%; /* Could be more or less, depending on screen size */
}

.close /* The Close Button (x) */
{
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover, .close:focus
{
	color: red;
	cursor: pointer;
}

.animate /* Add Zoom Animation */
{
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom
{
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) /* Change styles for span and cancel button on extra small screens */
{
  .cancelbtn {
     width: 100%;
  }
}

@media screen and (min-width:320px) /* smartphones, iPhone, portrait 480x320 phones */
{
	.modal-content
	{
		width: 90%; /* Could be more or less, depending on screen size */
	}
  
  	.login /*to put the buttons in center*/
	{
	  	width:50%;
	}
}

@media (min-width:481px) /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
{
	.modal-content
	{
		width: 90%; /* Could be more or less, depending on screen size */
	}
	.login /*to put the buttons in center*/
	{
	  	width:40%;
	}
}

@media screen and (min-width:641px) /* hi-res laptops and desktops */
{
	.modal-content
	{
		width: 50%; /* Could be more or less, depending on screen size */
	}
	.login /*to put the buttons in center*/
	{
	  	width:30%;
	}
}

@media screen and (min-width:961px) /* tablet, landscape iPad, lo-res laptops ands desktops */
{ 
	.modal-content
	{
		width: 40%; /* Could be more or less, depending on screen size */
	}
	.login /*to put the buttons in center*/
	{
	  	width:25%;
	}
}

@media screen and (min-width:1025px) /* big landscape tablets, laptops, and desktops */
{
	.modal-content
	{
		width: 40%; /* Could be more or less, depending on screen size */
	}
	.login /*to put the buttons in center*/
	{
	  	width:25%;
	}
}

@media screen and (min-width:1281px) /* hi-res laptops and desktops */
{
	.modal-content
	{
		width: 40%; /* Could be more or less, depending on screen size */
	}
	.login /*to put the buttons in center*/
	{
	  	width:25%;
	}
}
